.Inicio {
    background-color: #000000;
    height: 70vh;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    .tituloInicio {
      //  width: 50%;
        font-size: 5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        text-align: start;
    }

    .subTitulo {
        font-size: 2rem;
        // border: solid;
        text-align: start;
        font-family: "Inter", sans-serif;
        color: #808582;
        width: 30%;
    }
}

.boxInicio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 35%;
    height: 50%;

    .textoInicio {
        //border: solid;
        font-weight: 200;
        width: 100%;
        font-family: "Inter", sans-serif;
        font-size: 1.2rem;
    }
}

.imgPerfil {
    width: 20%;
    border-radius: 50%;
    box-shadow:
        0 0 30px #1a1b1b,
        0 0 30px rgba(99, 99, 102, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgPerfil:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 40px #797c7b,
        0 0 60px rgba(31, 34, 33, 0.4);
}