.Inicio {
    background-color: #000000;
    height: 70vh;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    .tituloInicio {
        font-size: 5rem;
         font-family: "Righteous", sans-serif;
        font-weight: 700;
        text-align: start;
        letter-spacing: 1rem;
    }

    .subTitulo {
        font-size: 2rem;
        font-family: "Righteous", sans-serif;
        text-align: start;
        letter-spacing: 1rem;
        color: #808582;
        width: 30%;
    }
}

.boxInicio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 35%;
    height: 60%;

    .textoInicio {
        font-weight: 200;
        width: 100%;
        font-family: "Inter", sans-serif;
        font-size: 1.2rem;
    }
}

.imgPerfil {
    width: 20%;
    border-radius: 50%;
    box-shadow:
        0 0 30px #1a1b1b,
        0 0 30px rgba(99, 99, 102, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgPerfil:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 40px #797c7b,
        0 0 60px rgba(31, 34, 33, 0.4);
}
.icones {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 0.5rem;

  svg {
    font-size: 2rem;
    color: white;
    transition: all 0.3s ease;
  }

  svg:hover {
    transform: scale(1.5);
  }
}
.html:hover {
    color: #e34f26;;
}
.scss:hover{
    color: #cc6699;
}
.javascript:hover {
    color: #dbcf1d;
}
.vite:hover{
    color: #cf1dc6;
}
.react:hover{
    color: #1ab6e6;
}
