.Inicio {
    background-color: #000000;
    height: 70vh;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
   width: 100%;
    align-items: center;

    .tituloInicio {
        //border: solid;
        width: 70%;
        font-size: 5rem;
        font-family: "Newsreader", serif;
    }
    .subTitulo{
        font-size: 2rem;
       // border: solid;
        text-align: start;
    }
}

.boxInicio{
display: flex;
flex-direction: column;
align-items: start;
justify-content: space-around;
width: 35%;
height: 50%;

.textoInicio{
    //border: solid;
    font-weight: 200;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
}
}
.imgPerfil{
    width: 20%;
    border-radius: 100%;
     box-shadow: 
    0 0 5px #808582,
    0 0 15px rgba(225, 225, 228, 0.5);
    
}