.container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 999999;
}
.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid rgb(61, 58, 58);
  border-top-color: #f7f4f4;
}