.sectionProjetos {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;

.cardProjetos {
    
    height: 30vh;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

img {
    width: 50%;
}
}
}