.sectionProjetos {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    font-family: "Ubuntu", sans-serif;
    margin-top: 4rem;
}

.tituloProjetos {
    margin-top: 4rem;
    text-align: center;
    color: #ffffff;
}

.cardProjetos {

    height: 50vh;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    border: solid 0.1rem #808582;
    text-align: center;
    border-radius: 1.5rem;
    transition: transform 0.3s ease;

    img {
        width: 100%;
        height: 50%;
        border-radius: 1.5rem 1.5rem 0 0;

    }
}

.cardProjetos:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 40px #797c7b,
        0 0 60px rgba(31, 34, 33, 0.4);
}

.btnVisitar {
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}